#bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}

#main{
  position:absolute;
  height:auto;
  width:auto;
  z-index:1;
  bottom:0;
  left:0;
  right:0;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  top:0;
  left:0;
}
/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* the main index page*/
.buttons{
  opacity: 75%;
}

#displayStars {
  opacity:100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;


  cursor: pointer;
  display: inline-flex;
  line-height: 1.25;

  margin-left:35%;
  padding:1%;

  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

#displayStars:hover,
#displayStars:focus {
  color:white;
  
}

#displayStars:hover {
  transform: translateY(-1px);
}

#displayStars:active {
  color: white;
  transform: translateY(0);
}


#displayNotebook {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  display: inline-flex;
  line-height: 1.25;
  padding:1%;

  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

#displayNotebook:hover,
#displayNotebook:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

#displayNotebook:hover {
  transform: translateY(-1px);
}

#displayNotebook:active {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
}